annotated-types==0.7.0
blinker==1.9.0
brotli==1.2.0
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cssselect2==0.8.0
Flask==3.0.0
fonttools==4.61.0
google-auth==2.43.0
google-genai==1.0.0
html5lib==1.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==1.26.4
opencv-python==4.10.0.84
packaging==25.0
pdf2image==1.17.0
pillow==10.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.11.0
PyPDF2==3.0.1
pyphen==0.17.2
pytesseract==0.3.13
python-dotenv==1.0.0
requests==2.32.5
rsa==4.9.1
six==1.17.0
tinycss2==1.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
weasyprint==62.3
webencodings==0.5.1
websockets==14.2
Werkzeug==3.1.4
zopfli==0.4.0
